body {
  background-color: blueviolet;  
}

.inputForm {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;  
}

body {
  margin: 0 auto;
  max-width: 87.5rem;
  text-align: center;
}

.allTasks {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;  
}

.myBtn {
  padding: 0.625rem 1.5625rem;  
  color: black;
  font-size: 0.875rem;
  background: transparent;
  border: solid 0.125rem yellow;
  background-color: yellowgreen;
  border-radius: 0.3125rem;
}

.myInput {
  width: 40%;
  height: 1.875rem;  
  padding: 0.3125rem 1.875rem;
  margin-right: 1rem;
  border:  0.125rem solid black;
  border-radius: 0.1875rem;
  font-size: 1.875rem;
}

.allTasks {
  margin: 0 auto;
}

.task {  
  width: 80%;
  padding: 0.2rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px yellow;
  background-color: yellowgreen;
  border-radius: 0.3125rem;
}

.img {
  width: 0.9375rem;
  height: 0.9375rem;
}

.TaskList {
  margin-top: 2rem;
  display :grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.625rem;
}

.doneTask {
  color: gray;
  text-decoration: line-through;
}

.deleteAll {
  height: 2.1875rem;
  width: 2.1875rem;
  margin-right: 1rem;
}